 .alertBar__container{
    display: flex;
    justify-content: center;
    //width: 100vw;
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    
    & .alertBar__content{
        display: flex;
        gap: 15px;
        align-items: center;
        border-radius: 5px;
        padding: 10px 25px;
        width: 65vw;
        background-color: #F4E559;
    }
 }