thead{
    background-color: #F4F4F4;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    & tr{
        width: 100%;
        display: flex;
        & th{
            font-weight: 600;
            color: #575757;
            width: calc(100% / 8);
            text-align: center;
        }
    }
}