.searchInputContainer{
    position: relative;
    display: flex;
    align-items: center;
    
    & img{
        position: absolute;
        padding: 0 0 0 25px;
    }

    & input{
        height: 29px;
        width: 30%;
        padding: 0 0 0 55px;
        border: none;
        background-color: #fff;
        border-radius: 5px;
        outline: none;
    }
}